<div class="search">

	<div class="left-header">
		<h2>Search</h2>
	</div>
	
	
	<ul class="search-form">
	
		<%= form_tag '/freshwaters', method: :get do %>
			<li>
				<div class="search-left">

					<div class="search-left-1">

						<div class="search-area">
							<%= text_field_tag 'expression', nil, placeholder: 'Search in freshwater lakes, reservoirs and rivers ...' %>
						</div>

					</div>

					<div class="search-left-2">
						<ul class="search-left-2-ul">
							<li><%= text_field_tag 'area_from', nil, placeholder: 'Area from...' %></li>
							<li><%= text_field_tag 'area_to', nil, placeholder: 'Area to...' %></li>
						</ul>
					</div>

					<div class="search-left-3">
						<%= collection_select( :country, nil, Country.order('name'), :name, :name, {prompt: 'All countries of the world'}, {:class=>'select'}) %>
					</div>

					<div class="search-left-4">
						<%= collection_select :ecoregion, nil, FreshwaterEcoregion.all, :id, :name, {prompt: 'All freshwaters ecoregions of the world'}, {:class=>'select'} %>
					</div>

				</div>
			</li>

			<li>
				<div class="search-right">
					<div class ="checkboxes">
						<%= check_box_tag 'lakes', 'yes', true %> Lakes <br />
						<%= check_box_tag 'reservoirs', 'yes', true %> Reservoirs <br />
						<%= check_box_tag 'rivers', 'yes', true %> Rivers
					</div>
							
					<div class="search-button">
						<%= submit_tag 'Search', class: "btn btn-large btn-primary" %>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
</div>