<div class="element">
	<a href="<%= freshwater_path(freshwater) %>">

		<div class="freshwater-element"; background:#FFFFFF" onmouseover="this.style.background='#87CEFA';" onmouseout="this.style.background='#FFFFFF';">

			<big><%= freshwater.name %></big>
			(<%= freshwater.get_type %>) |
			<%= freshwater.get_country %> |
			<%= freshwater.get_area %> km2

		</div>
	</a>
</div>